//back-end/SISCEUSI/.vs
//back-end/SISCEUSI/sisceusi.web/bin
//back-end/SISCEUSI/sisceusi.web/obj
//back-end/SISCEUSI/sisceusi.web/Properties/PublishProfiles
back-end/SISCEUSI/sisceusi.web/Log
back-end/SISCEUSI/sisceusi.web/Files
//back-end/SISCEUSI/sisceusi.entidad/bin
//back-end/SISCEUSI/sisceusi.entidad/obj
//back-end/SISCEUSI/sisceusi.logica/bin
//back-end/SISCEUSI/sisceusi.logica/obj
//back-end/SISCEUSI/sisceusi.datos/bin
//back-end/SISCEUSI/sisceusi.datos/obj
//back-end/SISCEUSI/sisceusi.util/bin
//back-end/SISCEUSI/sisceusi.util/obj