@using sisceusi.entidad;
@{
    UsuarioBE usuario = Session["user"] == null ? null : (UsuarioBE)Session["user"];
    LogoRedSocialBE logoRedSocial = Session["logoRedSocial"] == null ? null : (LogoRedSocialBE)Session["logoRedSocial"];
}

<div class="modal customChatBot fade" id="modalChatBot" tabindex="-1" role="dialog" aria-labelledby="modalChatBotLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalChatBotLabel">Contáctenos</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="recipient-name">Correo electrónico:</label>
                        <input class="form-control" id="recipient-name" type="email">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="message-text">Mensaje:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-12 seccion-mensaje">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-cerrar-bot" class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
                <button id="btn-enviar-bot" class="btn btn-primary" type="button">Enviar mensaje</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid foot d-flex flex-row justify-content-center align-items-center d-print-none" id="pie">
    @if (usuario == null)
    {
        if (logoRedSocial == null)
        {
            <div class="chat-bot" data-toggle="modal" data-target="#modalChatBot"></div>
        }
        else if (logoRedSocial.chatbot == "0")
        {
            <div class="chat-bot" data-toggle="modal" data-target="#modalChatBot"></div>
        }
    }    
    <footer class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-12 col-md-4 text-white">
                        <div class="lead font-weight-bold">Contáctenos</div>
                        <ul class="list-unstyled mr-0">
                            <li class="py-1"><a class="text-white" href="tel: +5114111100">Teléfono: (+511) 411-1100</a></li>
                            <li class="py-1"><a class="text-white" href="mailto:webmaster@minem.gob.pe?Subject=Contacto%20desde%20la%20web%20de%20MRV%20Plataforma%20del%20Sector%20Energético">webmaster@minem.gob.pe</a></li>
                            <li class="py-1">Dirección General de Eficiencia Energética</li>
                            <li class="py-1"><a class="text-white" href="https://www.google.com/maps/d/u/0/viewer?msa=0&amp;hl=en&amp;ie=UTF8&amp;ll=-12.097192999999981%2C-77.00643500000001&amp;spn=0%2C0&amp;t=m&amp;source=embed&amp;mid=1oiTLqK_OscJsqGYEQbVNHyO68Dw&amp;z=17" target="_blank">Av. Las Artes Sur 260. San Borja. Lima. Perú</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-4 text-white">
                        <div class="lead font-weight-bold">Enlaces</div>
                        <ul class="list-unstyled">
                            <li class="py-1"><a class="text-white" href="http://eficienciaenergetica.minem.gob.pe/" target="_blank">Sistema Interactivo de Eficiencia Energética</a></li>
                            <li class="py-1"><a class="text-white" href="http://www.minem.gob.pe/_detalle.php?idSector=12&amp;idTitular=3011&amp;idMenu=sub3001&amp;idCateg=716" target="_blank">Dirección General de Eficiencia Energética</a></li>
                            <li class="py-1"><a class="text-white" href="https://www.gob.pe/minem" target="_blank">Ministerio de Energía y Minas</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-4 text-white">
                        <div class="lead font-weight-bold">Más información</div>
                        <ul class="list-unstyled">
                            <li class="py-1"><a class="text-white" href="./documentos/Manual_Usuario.pdf" download>Manual de Usuario</a></li>
                            @*<li class="py-1"><a class="text-white" href="./terminos-y-condiciones.html">Términos y Condiciones</a></li>
                            <li class="py-1"><a class="text-white" href="./mapa-del-ditio.html" target="_blank">Mapa del Sitio</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="dropdown-divider"></div>
            </div>
            <div class="col-sm-12 col-md-12 text-right text-white">
                <div class="row">
                    <div class="col-6 text-left"><img src="@Url.Content("~/images/logo_web_footer.svg")" height="18"></div>
                    <div class="col-6"><small>&copy; Ministerio de Energía y Minas | Todos los derechos reservados</small></div>
                </div>
            </div>
        </div>
    </footer>
</div>

