
@{
    ViewBag.Title = "Index";
}

<div class="container mt-5" style="margin-top: 100px;">
    <div class="row mt-5"></div>
    <div class="row" style="margin-top: 100px;">
        <div class="col-12"><a href="@Url.Action("Index", "Usuario")">Usuario</a></div>
    </div>
</div>

