
@{
    ViewBag.Title = "Index";
}

@section scripts_footer {
    <script src="@Url.Content("~/Scripts/Sisceusi/interno_index.js")"></script>
}

<div class="container-fluid map-root" id="historia"></div>
<div class="container my-4" id="cuerpo">
    <div class="row">
        <div class="col-12">
            <div class="container m-0 px-0 py-4">
                <div class="row">
                    <div class="col-md-12 col-lg-9 d-flex">
                        <div class="bg-light p-4">
                            <div class="h4 text-cyan">Mantenimiento de Campañas Individuales&nbsp;</div>
                            <p class="m-0 text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat nostrum exercitationem, accusantium id fugit perspiciatis laboriosam, aliquam ut vero architecto cumque, placeat voluptas suscipit? Illo iusto soluta molestias fugit dolorum!</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3">
                        <div class="row">
                            <div class="col-12">
                                <a class="btn btn-azul w-100 mb-3" href="./mantenimiento-de-campanas-individuales-nuevo.html" data-toggle="tooltip" data-placement="top" title="Agregue un nuevo usuario con un rol específico">Nueva campaña piloto</a><a class="btn btn-plomo w-100 mb-3" href="javascript:history.back()">Regresar</a>
                                <button class="btn btn-warning w-100 mb-3 text-white" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ipsum voluptate, repudiandae aperiam ducimus eaque cum? Ipsum, similique quae excepturi at quisquam obcaecati modi nulla debitis corrupti minima eum iusto!"><i class="fas fa-question-circle pr-1"></i>Ayuda</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-12">
                        <form>
                            <div class="form-group init-search">
                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <label class="font-weight-bold" for="txt-buscar">INGRESE UNA DESCRIPCIÓN&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda"></i></label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="txt-buscar" placeholder="Ingrese la descripción de su búsqueda" aria-describedby="inputGroup1" required>
                                            <div class="input-group-append">
                                                <button id="btn-buscar" class="btn btn-azul" type="submit"><i class="fas fa-search px-1"></i>Buscar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-6 text-right">
                                        <div class="titulo-avanzado open-avanzado" data-toggle="collapse" href="#busqueda-avanzada" aria-expanded="false" aria-controls="busqueda-avanzada"><span>Búsqueda avanzada&nbsp;<i class="fas fa-sort"></i></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <div class="collapse" id="busqueda-avanzada">
                                            <div class="card card-body">
                                                <div class="row">
                                                    <div class="col-sm-12 text-left">
                                                        <div class="row">
                                                            <div class="col-xm-12 col-sm-12 col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="txt-denominacion">DENOMINACIÓN DE LA ENCUESTA</label>
                                                                    <input class="form-control" type="text" id="ruc" placeholder="">
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="txt-ruc">NÚMERO DE R.U.C</label>
                                                                    <input class="form-control" type="text" id="ruc" placeholder="Número de RUC">
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="txt-empresa">RAZÓN SOCIAL EMPRESA</label>
                                                                    <input class="form-control" type="text" id="empresa" placeholder="Nombre de empresa">
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="cbo-departamento">DEPARTAMENTO</label>
                                                                    <select class="form-control" id="cbo-departamento">
                                                                        <option>-Seleccione un departamento-</option>
                                                                        <option>Departamento 01</option>
                                                                        <option>Departamento 02</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="cbo-provincia">PROVINCIA</label>
                                                                    <select class="form-control" id="cbo-provincia">
                                                                        <option>-Seleccione un provincia-</option>
                                                                        <option>Provincia 01</option>
                                                                        <option>Provincia 02</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="cbo-distrito">DISTRITO</label>
                                                                    <select class="form-control" id="cbo-distrito">
                                                                        <option>-Seleccione un distrito-</option>
                                                                        <option>Distrito 01</option>
                                                                        <option>Distrito 02</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="cbo-zona">ZONA</label>
                                                                    <select class="form-control" id="cbo-zona">
                                                                        <option>-Seleccione un zona-</option>
                                                                        <option>Zona 01</option>
                                                                        <option>Zona 02</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="cbo-sub- sector">SUB SECTOR</label>
                                                                    <select class="form-control" id="cbo-sub-sector">
                                                                        <option>-Seleccione un sub sector-</option>
                                                                        <option>Sub sector 01</option>
                                                                        <option>Sub sector 02</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="cbo-actividad">ACTIVIDAD</label>
                                                                    <select class="form-control" id="cbo-actividad">
                                                                        <option>-Seleccione un actividad-</option>
                                                                        <option>Actividad 01</option>
                                                                        <option>Actividad 02</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="cbo-actividad">SUPERVISOR</label>
                                                                    <select class="selectpicker form-control border rounded">
                                                                        <option selected>-Filtre y seleccione un supervisor-</option>
                                                                        <option value="Ultrasound Knee Left">Ultrasound Knee Left Sup 02</option>
                                                                        <option value="MRI Knee Right">MRI Knee Right Sup 03</option>
                                                                        <option value="MRI Knee Left">MRI Knee Left Sup 04</option>
                                                                        <option value="MRI Forearm/Elbow Right">MRI Forearm/Elbow Right Sup 04</option>
                                                                        <option value="MRI Forearm/Elbow Left">MRI Forearm/Elbow Left Sup 05</option>
                                                                        <option value="CT Knee Right">CT Knee Right Sup 06</option>
                                                                        <option value="CT Knee Left">CT Knee Left Sup 07</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="cbo-combustibles">COMBUSTIBLES</label>
                                                                    <select class="form-control" id="cbo-combustibles">
                                                                        <option>-Seleccione un combustibles-</option>
                                                                        <option>Combustibles 01</option>
                                                                        <option>Combustibles 02</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="cbo-fuente-energia">FUENTE DE ENERGÍA</label>
                                                                    <select class="form-control" id="cbo-fuente-energia">
                                                                        <option>-Seleccione un fuente energia-</option>
                                                                        <option>Fuente-energia 01</option>
                                                                        <option>Fuente-energia 02</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="cbo-tipo-transporte">TIPO DE TRANSPORTE</label>
                                                                    <select class="form-control" id="cbo-tipo-transporte">
                                                                        <option>-Seleccione un tipo transporte-</option>
                                                                        <option>Tipo-transporte 01</option>
                                                                        <option>Tipo-transporte 02</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="cbo-datos-informante">DATOS INFORMANTE</label>
                                                                    <select class="form-control" id="cbo-datos-informante">
                                                                        <option>-Seleccione un datos informante-</option>
                                                                        <option>Datos informante 01</option>
                                                                        <option>Datos informante 02</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="txt-campana">CAMPAÑA</label>
                                                                    <input class="form-control" type="text" id="txt-campana" placeholder="Nombre de campaña">
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="txt-fecha-inicio">FECHA REGISTRO DESDE</label>
                                                                    <input class="form-control" type="date" id="txt-fecha-inicio">
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="txt-fecha-fin">FECHA REGISTRO HASTA</label>
                                                                    <input class="form-control" type="date" id="txt-fecha-fin">
                                                                </div>
                                                            </div>
                                                            <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="cbo-tipo-usuario">ESTADO</label>
                                                                    <select class="form-control" id="cbo-tipo-usuario">
                                                                        <option>-Seleccione un estado-</option>
                                                                        <option>Habilitado</option>
                                                                        <option>Deshabilitado</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 text-right">
                                                                <button id="btn-buscar-avanzado" class="btn btn-azul text-white"><i class="fas fa-search pr-1"></i>Buscar</button>
                                                            </div>
                                                            <div class="col-sm-12 text-right">
                                                                <div class="titulo-avanzado close-basico" data-toggle="collapse" href="#busqueda-avanzada" aria-expanded="false" aria-controls="busqueda-avanzada"><span>Búsqueda básica&nbsp;<i class="fas fa-sort"></i></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!---->
                    </div>
                </div>
            </div>
            <div class="container-fluid py-4">
                <div class="row">
                    <div class="col-xs-12 col sm-12 col-lg-10 d-flex align-items-end justify-content-left pl-0">
                        <div class="h5">BANDEJA DE ENCUESTAS&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Bandeja principal donde encontrará todos los usuarios registrados"></i></div>
                    </div>
                    <div class="col-xs-12 col sm-12 col-lg-2 text-lg-right pr-0">
                        <button class="btn btn-success w-100">Descargar Excel</button>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="table-responsive tabla-principal">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr class="bg-azul text-white">
                                        <th class="text-center" scope="col">
                                            <div class="d-flex justify-content-between align-items-center"><span class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="right" title="Título de ayuda"></i><span>ITEM&nbsp;</span></span></div>
                                        </th>
                                        <th scope="col">
                                            <div class="d-flex justify-content-between align-items-center"><span class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="right" title="Título de ayuda"></i><span>CÓDIGO&nbsp;</span></span><i class="fas fa-sort column-filter"  id="cam_idCampana"></i></div>
                                        </th>
                                        <th scope="col" style="min-width: 150px;">
                                            <div class="d-flex justify-content-between align-items-center"><span class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="right" title="Título de ayuda"></i><span>EMPRESA&nbsp;</span></span><i class="fas fa-sort column-filter" id="emp_nombreEmpresa"></i></div>
                                        </th>
                                        <th scope="col" style="min-width: 150px;">
                                            <div class="d-flex justify-content-between align-items-center"><span class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="right" title="Título de ayuda"></i><span>PLANTA&nbsp;</span></span><i class="fas fa-sort column-filter" id="pem_denominacion"></i></div>
                                        </th>
                                        <th scope="col">
                                            <div class="d-flex justify-content-between align-items-center"><span class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="right" title="Título de ayuda"></i><span>T. ENCUESTA&nbsp;</span></span><i class="fas fa-sort column-filter" id="ten_tipoEncuesta"></i></div>
                                        </th>
                                        <th scope="col">
                                            <div class="d-flex justify-content-between align-items-center"><span class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="right" title="Título de ayuda"></i><span>CAMPAÑA&nbsp;</span></span><i class="fas fa-sort column-filter" id="cam_denominacion"></i></div>
                                        </th>
                                        <th scope="col">
                                            <div class="d-flex justify-content-between align-items-center"><span class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="right" title="Título de ayuda"></i><span>F. REGISTRO&nbsp;</span></span><i class="fas fa-sort column-filter" id="cen_fechaHoraLlenado"></i></div>
                                        </th>
                                        <th scope="col">
                                            <div class="d-flex justify-content-between align-items-center"><span class="d-flex justify-content-between align-items-center"><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="right" title="Título de ayuda"></i><span>ESTADO&nbsp;</span></span><i class="fas fa-sort column-filter" id="eta_etapa"></i></div>
                                        </th>
                                        <th class="text-center" scope="col" style="min-width: 150px;">GESTIÓN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr>
                                        <td class="text-center" data-encabezado="Item" scope="row">1</td>
                                        <td class="text-center" data-encabezado="Código">ENC0002</td>
                                        <td data-encabezado="Empresa encuestada">Razón social o nombre comercial</td>
                                        <td data-encabezado="Planta">Nombre de planta</td>
                                        <td data-encabezado="Tipo de encuesta">Piloto</td>
                                        <td data-encabezado="Campaña">Nombre de la campaña</td>
                                        <td class="text-center" data-encabezado="Fecha de registro">18-10-2022</td>
                                        <td data-encabezado="Estado">
                                            <span>Enviado</span>
                                        </td>
                                        <td class="text-center text-center text-xs-right" data-encabezado="Gestión">
                                            <div class="btn btn-sm btn-warning btn-table text-white"><i class="fa fa-download"></i></div>
                                            <div class="btn btn-sm btn-success btn-table"><i class="fa fa-eye"></i></div>
                                            <div class="btn btn-sm btn-danger btn-table"><i class="fa fa-trash"></i></div>
                                            <div class="btn btn-sm btn-info btn-table"><i class="fa fa-edit"></i></div>
                                        </td>
                                    </tr>*@
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-left pl-0" colspan="3"><span>Resultado:&nbsp;</span><span class="inicio-registros">1</span><span id="view-page-result">-<span class="fin-registros">1</span> de <span class="total-registros">1</span> registros</span></td>
                                        <td id="viewPagination" class="text-right text-xs-left pr-0" colspan="7" style="display: none">
                                            <span>Registros por página&nbsp;</span>
                                            <select id="number-registers">
                                                <option value="10" selected>10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>&nbsp;
                                            <span class="pagina">1</span> de <span class="total-paginas">75</span> páginas&nbsp;
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                                <button class="btn btn-success" type="button" onclick="cambiarPagina(1)"><i class="fas fa-angle-double-left"></i></button>
                                                <button class="btn btn-success" type="button" onclick="cambiarPagina(2)"><i class="fas fa-angle-left"></i></button>
                                                <input class="ir-pagina" type="number" value="1" min="1">
                                                <button class="btn btn-success" type="button" onclick="cambiarPagina(3)"><i class="fas fa-angle-right"></i></button>
                                                <button class="btn btn-success" type="button" onclick="cambiarPagina(4)"><i class="fas fa-angle-double-right"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>                                 
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("column", "cen_idControlEncuesta")
@Html.Hidden("order", "ASC")