
@{
    ViewBag.Title = "Login";
}

@section scripts_header{
    <script src="https://www.google.com/recaptcha/api.js"></script>
}

@section scripts_footer {
    <script src="~/Scripts/Sisceusi/login_login.js"></script>
}

<div class="container-fluid banner d-flex flex-row justify-content-center align-items-center" id="carousel">
    <div class="flecha d-none" id="enlaceAspectos"><i class="fas fa-angle-double-right fa-2x text-white btn-slider-bottom"></i></div>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-2 d-flex flex-row justify-content-center align-items-center wrap-slider-left"><i class="fas fa-chevron-left fa-3x text-white btn-slider-left d-none"></i></div>
            <div class="col-md-8 col-sm-12 text-center">
                <div class="row">
                    <div class="col-12 d-flex flex-row justify-content-center align-items-end">
                        <div class="slider-pagging d-none"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex flex-row justify-content-center align-items-center wrap-slider-right"><i class="fas fa-chevron-right fa-3x text-white btn-slider-right d-none"></i></div>
        </div>
        <div class="row dentro-banner rounded">
            <div class="col-md-6 col-lg-8 p-4 d-none d-md-block bg-img-login">
                <div class="h-100 w-100 d-flex align-items-center justify-content-center">
                    <p class="p-0 m-0 linea-derecha lead text-white animated bounceInUp">Accede a nuestra plataforma de <br><strong>Balance Nacional de Energía Útil <br></strong>Ingresa con tu&nbsp;<strong>correo electrónico&nbsp;</strong>y&nbsp;<strong>contraseña&nbsp; <br></strong>previamente registrados a nuestro sistema.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 p-4 bg-light rounded-right">
                <div class="h4">Ingresar <br><small class="text-muted">Accede con tus credenciales</small></div>
                <form class="pt-4" id="frmLogin" action="./index.html" autocomplete="off">
                    <div class="form-group">
                        <label for="txt-user">Usuario</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text" id="inputGroup1"><i class="fas fa-envelope"></i></span></div>
                            <input class="form-control" type="email" id="USUARIO" placeholder="Tu dirección de email" aria-describedby="inputGroup1" maxlength="50" pattern="^[a-zA-Z0-9.!#$%&amp;’*+/=?^_`{|}~-]+@("@")[a-zA-Z0-9-]+(?:.[a-zA-Z0-9-]+)*$" title="Ingrese una dirección de correo válida." autocomplete="new-user" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="txt-pswd">Contraseña</label>
                            </div>
                            <div class="col-6 text-right"><a class="link-verde" href="./recuperar.html"><small>¿Olvidó su contraseña?</small></a></div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text" id="inputGroup2"><i class="fas fa-key"></i></span></div>
                            <input class="form-control" type="password" id="txt-pswd" placeholder="Tu contraseña" aria-describedby="inputGroup2" maxlength="30" title="Ingrese su contraseña." autocomplete="new-password" required>
                            <div class="input-group-append">
                                <label class="input-group-text cursor-pointer ver-clave"><i class="fas fa-eye mr-1"></i>Mostrar</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="chk-recd">
                                    <label class="custom-control-label" for="chk-recd">Recordar email</label>
                                </div>
                            </div>
                            <div class="col-6 text-right"><a class="link-verde" href="@Url.Action("Index", "IntencionParticipar")"><small>Regístrar mi empresa</small></a></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["ReCAPTCHA_Site_Key"]"></div>
                    </div>
                    <button class="btn-lg btn-azul w-100" type="submit">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>

