@using sisceusi.entidad
@{
    ViewBag.Title = "PreguntaEncuesta";
    ControlEncuestaBE controlEncuesta = ViewData["controlEncuesta"] == null ? new ControlEncuestaBE() : (ControlEncuestaBE)ViewData["controlEncuesta"];
    List<CampanaEncuestaBE> encuesta = ViewData["preguntaMostrar"] == null ? null : (List<CampanaEncuestaBE>)ViewData["preguntaMostrar"];
}

@section scripts_footer {
    <script src="@Url.Content("~/Scripts/Sisceusi/encuesta_preguntaEncuesta.js")"></script>
}

<div class="container-fluid map-root" id="historia"></div>
<div class="container my-4" id="cuerpo"></div>
<div class="dropdown-divider my-4"></div>

<script type="text/javascript">
    var preguntasEncuesta = @Html.Raw(Json.Encode(encuesta));
    var numeroEncuesta = '@controlEncuesta.campanaEmpresa.idCampana'
    var idControlEncuesta = @controlEncuesta.idControlEncuesta
</script>
