
@{
    ViewBag.Title = "Index";
}

@section scripts_footer {
    <script src="~/Scripts/Sisceusi/inicio_index.js"></script>
}

<h2>Index</h2>
<button id="btnPrueba">Prueba</button>
<a href="@Url.Action("Login","Login")">Iniciar Sesion</a>

